$primary:'';
$secondary:'';
$thirdy:'';
$text:rgba(25, 54,81, 1);
$borders:'';
$danger:#f60c4c;
$success:#1cc57e;
$warning:'';
$info:'';
$grey:#666;

$textFaded:rgba(25,54,81,.6);

.text-success{color:$success !important;}
.text-danger{color:$danger !important;}
.text-faded{color:$grey !important;}