<div ng-if="ready" class="animated fadeIn">
    <nav>
        <ul>
            <li ng-bind="lang.criptoCurrency" ng-class="{'active':!modePortfolio}" ng-click="modePortfolio = false"></li>
            <li ng-bind="lang.portfolio" ng-class="{'active':modePortfolio}" ng-click="modePortfolio = true"></li>
        </ul>
    </nav>
    <div ng-if="modePortfolio">
        <!--i class="portfolio hero"></i>
        <p class="page-msg" ng-bind-html="lang.portfolioMemberMsg"></p>
        <button class="btn btn-register" ng-bind="lang.register"></button-->
        <div ng-if="charged" class="cripto-card" ng-repeat="cripto in criptos">
            <div class="price-group">
                <span class="cripto-alias" ng-bind="cripto.alias"></span>
                <span ng-bind-html="getDailyChange(cripto)"></span>
                <h2>
                    <span ng-bind="getPortifolioByCripto(cripto)"></span>
                    <small style="float:right;color: #666;line-height:26px;" ng-bind="getExchangeByCripto(cripto)"></small>
                </h2>
            </div>
        </div>
    </div>
    <div ng-if="!modePortfolio">
        <div ng-if="charged" class="cripto-card" ng-repeat="cripto in criptos">
            <div class="price-group">
                <span class="cripto-alias" ng-bind="cripto.alias"></span>
                <span ng-bind-html="getDailyChange(cripto)"></span>
                <h2>
                    <span ng-bind="getPriceByCripto(cripto)"></span>
                    <small style="float:right;color: #666;line-height:26px;" ng-bind="getExchangeByCripto(cripto)"></small>
                </h2>
            </div>
        </div>
        <div ng-if="!charged">
            <i class="loading hero"></i>
            <p class="page-msg">Loading...</p>
        </div>
    </div>
</div>